html {
  background-image: url("../images/Background_landscape.jpg");
  background-color: lighten(#9BD1F5, 50%);
  background-size: cover;
  background-repeat: no-repeat; 
  color: black; 
}
.splimo-stats table {
	border: 1px solid #9BD1F5;
    border-collapse: separate;
    font-size: small;
    width: 20em;
}
.splimo-stats th,td {
	border-left: 1px solid #9BD1F5;
	text-align: center;
	padding-left : 0.4em;
	padding-right: 0.4em;
    font-size: small;
}
.splimo-stats th,td:first-child {
	border-left: 0px ;
}
.splimo-stats thead {
	background-color: #9BD1F5;
}
.splimo-stats tbody {
	background-color: rgba(255, 255, 245, 0.3);
}

vaadin-form-layout {
	align-items: flex-start;
}

.intro-splittermond {
	background-image: url("../images/splittermond/Cover_Schirm.png");
  	background-size: cover;
  	text-shadow: 1px 1px 2px white, 0 0 20px lightblue, 0 0 5px blue;
}
