html {
  background-image: url("../images/shadowrun6/background.png");
  background-color: lighten(#d19cb8, 50%);
  background-size: cover;
  background-repeat: no-repeat; 
  color: black; 
}

vaadin-form-layout {
	align-items: flex-start;
}